$display: flex;
$background: rgba(255, 255, 255, 0.05);
$paddingLeft: 51px;

@mixin font {
    font-size: calc(16px + (20 - 16) * (100vw - 400px) / (1440 - 400));
    line-height: 24px;
}

@mixin size32x32 {
    width: 32px;
    height: 32px;
}

@mixin repeat {
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-wrapper {
    max-width: 300px;
    display: $display;
    flex-direction: column;
    gap: 37.78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: $background;
    box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
    padding-top: 21px;
    padding-bottom: 168px;

    .nav-title {
        padding-left: 29px;
    }

    .list-nav {
        display: $display;
        flex-direction: column;
        gap: 40px;

        .settings {
            position: relative;
        }

        .settings-active {
            position: relative;
        }


        .settings::after {
            content: '\25BC';
            position: absolute;
            top: 8%;
            left: 86%;
            transform: rotate(360deg);
        }

        .settings-active::after {
            content: '\25BC';
            position: absolute;
            top: 8%;
            left: 86%;
            transform: rotate(180deg);
        }

        .settings-profile {
            display: none;
            padding-left: $paddingLeft;
            margin-top: -9px;
        }

        .financial-management {
            display: none;
            padding-left: $paddingLeft;
            margin-top: -9px;
        }

        .settings-profile-active {
            display: flex;
            padding-left: $paddingLeft;
            margin-top: -9px;
        }

        .financial-management-active {
            display: flex;
            padding-left: $paddingLeft;
            margin-top: -9px;
        }

        .router {
            text-decoration: none;
        }


        li:hover {
            background-color: rgba(34, 60, 80, 0.2);
        }

        li:active {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }

        li {
            padding-left: 29px;
            padding-right: 61px;
            cursor: pointer;

            .ico-home {
                @include size32x32;
                @include repeat;
            }

            .ico-search {
                @include size32x32;
                @include repeat;

            }

            .ico-table {
                @include size32x32;
                @include repeat;

            }

            .ico-calendar {
                @include size32x32;
                @include repeat;

            }

            .ico-card {
                width: 24.88px;
                height: 32px;
                @include repeat;
            }

            .ico-widgets {
                width: 32px;
                height: 30px;
                @include repeat;
            }

            .ico-settings {
                width: 32px;
                height: 34px;
                @include repeat;
            }

            .ico-exit {
                @include size32x32;
                @include repeat;
            }

            button {
                width: 100%;
                display: $display;
                align-items: center;
                flex-wrap: wrap;
                gap: 16px;
                border: none;
                background-color: $background;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                @include font;
                cursor: pointer;
                padding: 0;

            }





        }
    }

}






@media (max-width:768px) {
    .nav-wrapper {
        position: absolute;
        left: -300px;
    }
}